* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: auto;
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  display: flex;
  margin: 0 auto;
}


.stepbox{
  width: 90%;
  height: 300px;
  background-color: #eeeeee;
  margin:50px 30px 50px 0px;
  padding: 10px;
  position: relative;
  }

.namber{
  position: absolute;
  top:0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.stepboximg1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.stepboximg2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.stepboximg3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.titol{
  padding-top: 15px;
}

.text{
  padding-top: 5px
}

footer{
  width:auto;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
header{
  width: 100%;
  margin-bottom: 50px;
}

main{
  width: 100%;
  display: block;

}

.stepbox{
  width: 90%;
  margin: 20px;

}

footer{
  width: 100%;
  margin-top: 50px;
}



}